/*header*/

.header {
    background-color: #0a0a0a;
    padding-bottom: 1px;
}

.header__navbar {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    padding: 6px 28px 0 28px;
}

.header__logo-img {
    width: 150px;
}

.header__nav-text {
    margin-left: calc(var(--space) * 7);
}

.header__nav-list {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

.header__nav-item {}

.header__nav-item a {
    height: 80px;
    display: block;
    line-height: 80px;
    margin: 0px 21px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input {
    display: none;
}

.header__search {
    margin-left: auto;
    position: relative;
    width: 30%;
    max-width: 300px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.header__search-input {
    padding: 10px 0px 7px 8px;
    width: 100%;
    text-align: left;
    background-color: #070707;
    outline: none;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3);
    color: var(--white-color);
}

.header__search i {
    position: absolute;
    width: 16px;
    font-size: 1.6rem;
    top: 0;
    right: 10px;
    line-height: 3.3rem;
    color: var(--text-color);
    transition: all 0.4s;
}

.header__nav-item a:hover {
    color: var(--yellow-color);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.header__search:focus-within {
    max-width: 30%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.header__navbar-special {
    display: flex;
    background-color: #0a0a0a;
    max-width: 100%;
    overflow-x: auto;
}

.header__navbar-special::-webkit-scrollbar {
    display: none;
}

.header__navbar-special-item {
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    max-width: 700px;
}

.header__navbar-special-img {
    cursor: pointer;
    max-width: 96.5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header__navbar-special {
    padding: 13px 10px 30px;
}

.header__navbar-special-img {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.header__navbar-special-img:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.section__content {
    background-color: #0a0a0a;
    overflow: hidden;
}

.content {}

.content__info-update {
    display: flex;
    align-items: center;
}

.content__label {
    color: var(--white-color);
    padding: 30px 100px 30px 25px;
    font-weight: 700;
    font-size: 2.4rem;
    margin-right: auto;
}

.btn__label {
    padding: 12px 32px;
    height: 100%;
    background-color: var(--yellow-color);
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 7px 0px 0px 7px;
    -webkit-border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    -ms-border-radius: 7px 0px 0px 7px;
    -o-border-radius: 7px 0px 0px 7px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn__label:hover {
    padding: 12px 37px;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.content__list-manga {}

.content__nav-manga {}

.content__item-manga {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.content__item-manga:hover .content__manga__info {
    height: 100px;
    padding: 50px 5px 7px 7px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.content__item-manga:hover .content__name__manga {
    color: var(--yellow-color);
}

.content__container-img {}

.content__img {
    padding-top: 150%;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.content__info-detail {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.content__manga__info {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    right: 0;
    left: 0;
    height: 100px;
    padding: 60px 5px 7px 7px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    margin-bottom: -95px;
}

.content__name__manga {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: var(--white-color);
}

.content__author__manga {
    font-size: 0.9rem;
    color: var(--white-color);
}

.update__chap-manga {
    display: flex;
    flex-direction: column;
}

.chap__lasted {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    padding: 0.4rem 0rem;
}

.new-chap {
    font-size: 1.4rem;
}

.stauts__chap {
    text-transform: uppercase;
    background: linear-gradient( 270deg, #dc0914, rgba(220, 9, 20, 0));
    padding: 3px 5px 3px 20px;
    margin-left: auto;
    margin-right: -10px;
}

.name__chap {
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content__chap-detail:hover .new-chap {
    color: var(--yellow-color);
}

.content__chap-detail:hover {
    border-top: 1px solid var(--yellow-color);
    padding: 6px 10px 10px;
}

.content__chap-detail {
    padding: 4px 10px 10px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid var(--grey-color);
    margin-bottom: 10px;
    height: 60px;
}

.icon-nav {
    margin-left: 5px;
    position: relative;
    top: 0px;
}

.content__nav-manga {
    width: 104%;
}

.content__nav-social a {
    display: inline-block;
    width: 50%;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    text-align: center;
    overflow: hidden;
    height: 40px;
    line-height: 4rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 4px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.content__nav-social a i {
    position: relative;
    font-size: 2.5rem;
    display: block;
    opacity: 0;
    text-align: center;
    top: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.content__nav-social a:hover i {
    opacity: 1;
    top: -30px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    color: var(--white-color)!important;
}

.content__nav-social {
    width: 100%;
    display: flex;
    height: 36px;
    margin-top: 15px;
    margin-bottom: 17px;
}

.content__nav-top-manga {
    background: linear-gradient( 180deg, rgba(220, 9, 20, .5), rgba(220, 9, 20, 0));
}

.content__nav-social a:hover:first-child {
    background: linear-gradient( 90deg, #7289da, #7289da);
}

.content__nav-social a:hover:last-child {
    background: linear-gradient( 90deg, #3b5998, #3b5998);
}

.content__nav-social a:first-child {
    background: linear-gradient( 90deg, #7289da, #7289da);
}

.content__nav-social a:last-child {
    background: linear-gradient( 90deg, #3b5998, #3b5998);
}

.content__nav-social a:hover {
    color: transparent;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.header__top-manga {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__view {
    padding: 10px 10px;
    color: var(--black-color) !important;
}

.content__hottest {
    color: var(--white-color) !important;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content__hottest i {
    margin: 0px 10px;
}

.content__top-list {}

.content__top-list a {
    text-decoration: none;
    color: var(--white-color) !important;
    display: block;
}

.content__top-list a:hover {
    background: linear-gradient( 90deg, rgba(0, 0, 0, .2), transparent);
}

.content__top-list a:hover .content__ranking-name {
    color: var(--yellow-color);
}

.content__ranking {}

.content__ranking-item {
    display: flex;
    margin: 0px 0px 10px 15px;
}

.content__ranking-img {
    height: 105px;
    opacity: .8;
}

.content__ranking-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
    text-decoration: none;
}

.content__ranking-name {
    font-size: 1.6rem;
    line-height: 1.3rem;
    margin-bottom: 10px;
}

.content__ranking-author {
    font-size: 1rem;
    font-weight: 300;
    line-height: .9rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    margin-top: 2px;
    text-decoration: none;
}

.content__ranking-view {
    margin-top: 10px;
}

.content__nav-view-all {
    display: block;
    color: var(--red-color);
    text-decoration: none;
    border: 1px solid var(--red-color);
    margin: 20px 10%;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    letter-spacing: .05rem;
    text-align: center;
    opacity: .6;
    text-transform: uppercase;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.content__nav-view-all:hover {
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    opacity: 1;
    margin: 20px 8%;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.content__nav-view-all:hover i {
    margin-left: 15px;
    transition: all .2 ease-in;
    -webkit-transition: all .2 ease-in;
    -moz-transition: all .2 ease-in;
    -ms-transition: all .2 ease-in;
    -o-transition: all .2 ease-in;
}

.category__manga {}

.category__manga-title {
    text-align: left;
    background: linear-gradient( 90deg, #5d0914, rgba(93, 9, 20, 0));
    padding: 25px 50px 25px 25px;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
}

.category__list-horizontal {
    margin: 15px;
    display: flex;
    overflow-x: auto;
    padding-left: 15px;
}

.category__item-horizontal {
    min-width: 150px;
    cursor: pointer;
    margin: 15px 1% 15px 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.category__item-horizontal:hover {
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.category__item-horizontal:hover .category__img-horizontal {
    opacity: 0.9;
}

.category__img-horizontal {
    width: 100%;
}

.section__footer {
    background-color: #0a0a0a;
}

.footer {
    background: linear-gradient( 0deg, rgba(220, 9, 20, .5), rgba(220, 9, 20, 0));
}

.footer__copyright {
    width: 250px;
    max-width: 13%;
    min-width: 110px;
}

.footer__img {
    width: 100%;
}

.copyright {
    text-align: center;
    padding: 7px 0px 7px 0px;
    color: var(--grey-color);
}

span {
    display: block;
}

.footer__detail {
    margin-left: 40px;
}

.footer__nav {
    margin-bottom: 10px;
    margin-top: 33px;
}

.footer__list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer__item {}

.footer__item a {
    text-decoration: none;
    font-weight: 300;
    width: 33%;
    color: var(--grey-color);
    padding: 10px 20px;
    font-size: 1.4rem;
}

.footer__nav-section-2 {
    background: linear-gradient( 90deg, rgba(0, 0, 0, .3), transparent);
    border-left: 0 solid var(--color-white);
    padding: 20px 10px 0px;
    display: flex;
    align-items: center;
    max-width: 772px;
}

.footer__nav-section-2 p {
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 10px;
    width: 100%;
    text-align: left;
    white-space: pre-line;
    color: var(--grey-color);
}

.footer__nav-download {
    background-color: rgba(220, 9, 20, .3);
    padding: 20px 20px 20px 20px;
    -webkit-transition: all .4s;
    transition: all .4s;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer__nav-download:hover {
    background-color: rgba(220, 9, 20, .6);
    padding: 30px 20px 30px 20px;
    margin-top: -10px;
    transition: all .4s;
    cursor: pointer;
}

.icon-logo {
    margin-right: 10px;
}

.icon-download p {
    margin: 7px 0px;
    color: var(--white-color);
    font-size: 1.4rem;
}

.footer__item a:hover {
    color: var(--white-color);
    border-radius: 5px;
    background: rgba(0, 0, 0, .3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu-bar {
    color: var(--white-color);
    font-size: 2.5rem;
    display: none!important;
}

.nav__overlay {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #5d0914;
    padding: 10px 0 0 0;
    background: -webkit-gradient(linear, right top, left top, color-stop(20%, #5d0914), to(rgba(93, 9, 20, 0)));
    background: linear-gradient( 270deg, #5d0914 20%, rgba(36, 8, 12, 0.7));
    z-index: 1;
}

.nav__menu-separator {
    height: 94px;
    opacity: .3;
}

.footer {
    overflow: hidden;
}